.regLog{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.window{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  font-size: 24px;  
  max-height: 100px;
  font-family: 'open Sans', sans-serif;
}

.frame{
  display: flex;
  flex-direction: column;
}

.cat{
  width: 21em;
}

img{
  width: 100%;
  height: 100%;
}

nav{
  display : flex;
  padding: 40px;
  min-height: 15vh;
}

.nav-links{
  position: absolut;
  margin-top: 15px;;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
a:link{
  text-decoration: none;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  padding: 0;
}

label{
  font-size: 20px;;
}

.input{
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}

.input:focus{
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor:pointer;
}
.btn:hover{
  background-color: #2386c8;
}
.btn:focus {
  outline:none;
}

.btnTodo{
  font-size: 17px;
  padding: 5px 20px;
  border: 0;
  margin-left: 1em;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor:pointer;
}
.btnTodo:hover{
  background-color: #2386c8;
}
.btnTodo:focus {
  outline:none;
}

ul{
  list-style: none;
}
li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btnList{
  position: absolute;
  margin-left:345px;
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor:pointer;
}

.btnList:hover{
  background-color: #2386c8;
}

.btnList:focus {
  outline:none;
}

.btnLogout{
  font-size: 17px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor:pointer;
}
.btnLogout:hover{
  background-color: #2386c8;
}
.btnLogout:focus {
  outline:none;
}